<div class="h-[10vh] p-3 bg-red-500 flex justify-between align-middle">
  <div class="flex space-x-12">
    <img src="assets/pokeball.svg" alt="icono pokeball">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="icono pokeball">
    <img src="assets/pokeball.svg" alt="icono pokeball">
  </div>
  <h1 class="text-3xl text-white my-auto font-bold drop-shadow-2xl invisible lg:visible">Pokédex</h1>
  <img src="assets/pokeball.svg" alt="icono pokeball" class="invisible lg:visible">
</div>
