<div class="flex h-full bg-[#8db5e7] border-8 border-[#ef4444] rounded-xl flex-wrap overflow-auto">
  <div class="w-[100%] lg:w-[50%] mx-auto p-3">
    <img class="border-8 border-black shadow-xl rounded-lg" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/08/pokedex-2784629.jpg?tf=1200x900" alt="">
  </div>
  <div class="w-[100%] lg:w-[50%] mx-auto p-3 font-semibold text-xl">
    La Pokédex, en el mundo de Pokémon  es una enciclopedia virtual portátil de alta tecnología que los entrenadores Pokémon llevan consigo para registrar las fichas de todas las diversas especies Pokémon con las que se encuentran durante su viaje como entrenadores. En general, cuando se cumplen ciertos requisitos, la capacidad de la Pokédex se puede aumentar permitiendo almacenar datos de otros Pokémon, que no son comunes, como los legendarios y Pokémon que no son originarios de esa región. A dicha Pokédex "ampliada" se la conoce como Pokédex Nacional. Según el episodio EP068 de la primera temporada en el anime, fue creada por el profesor Westwood V; sin embargo, en los videojuegos, el creador es el profesor Oak.
  </div>
  <div class="text-center mx-auto p-3 font-semibold text-xl flex flex-wrap space-x-5 justify-around">
    <p>Si quieres consultar información de una generación en concreto, aqui tienes la lista de número de pokemons según su generación</p>
    <p>Primera Generación: 1 - 151 </p>
    <p>Segunda Generación: 152 - 251 </p>
    <p>Tercera Generación: 252 - 386 </p>
    <p>Cuarta Generación: 387 - 493 </p>
    <p>Quinta Generación: 494 - 649 </p>
    <p>Sexta Generación: 650 - 721 </p>
    <p>Séptima Generación: 722 - 809 </p>
    <p>Octava Generación: 810 - 898 </p>
    <p>Novena Generación: 899 - Actual</p>
  </div>
</div>
