<div class="flex h-full bg-[#8db5e7] border-8 border-[#ef4444] rounded-xl flex-wrap overflow-auto justify-around p-10 lg:pt-[30vh]">
  <img class="glitch w-[5em] h-[10em]" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/MissingNo.svg/1200px-MissingNo.svg.png" alt="">
  <p class="glitch pt-16 text-2xl font-bold">Esta pÁgiNa ha sido arRestada X MisSiggnNoº, vuElvee 0tro:_ día</p>
  <img class="glitch w-[5em] h-[10em]" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/MissingNo.svg/1200px-MissingNo.svg.png" alt="">
</div>
